# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake - Build folders
/build/
/build-*/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
*.cmake
!QtDeploySupport.cmake
!QtDeployTargets.cmake

# Qt - User config
.qmake.stash
*.user
*.user.*
*.qmlc
*.jsc
Makefile*

# Minecraft - USER DATA (Important!)
.minecraft/

# IDE / Editors
.trae/
.vscode/
.idea/
*.swp
*~
.DS_Store
Thumbs.db

DESIGN.md
*.html
*.html
index.html
